@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3a2xdr');
    src: url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
        url('../fonts/icomoon.woff?3a2xdr') format('woff'),
        url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fr .icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 12px 0;
}

/* 顶部快捷导航栏  */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}

/* 头部 */
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}

.logo a {
    display: block;
    width: 175px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
}

.search input {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #b1191a;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 82px;
    height: 36px;
    line-height: 36px;
    background-color: #b1191a;
    border: 0;
    color: #fff;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.car {
    font-family: 'icomoon';
    color: #da5555;
}

.arrow {
    font-family: 'icomoon';
}

.count {
    position: absolute;
    top: -5px;
    left: 100px;
    height: 14px;
    line-height: 14px;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
    padding: 0 3px;
    color: #fff;
}

/* 导航部分 */
.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
    height: 45px;
    background-color: pink;
}

.dt {
    height: 100%;
    background-color: #b1191a;
    text-align: center;
    color: #fff;
    line-height: 45px;
    font-size: 16px
}

.dd {
    height: 466px;
    background-color: #c81623;
    margin-top: 2px;
}

.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s;
}

.menu_item:hover {
    padding-left: 20px;
}

.menu_item:hover {
    background-color: #fff;
}

.menu_item a {
    display: block;
    font-size: 14px;
    color: #fff;
}

.menu_item a:hover {
    color: #c81623;
}

.menu_item a::after {
    font-family: 'icomoon';
    float: right;
    content: "";
    font-size: 18px;
}

.menu_item a:hover::after {
    color: #fff;
}

.navitems ul {
    margin-left: 10px;
}

.navitems li {
    float: left;
}

.navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}

/* 底部 */
.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 79px;
    border-bottom: 1px solid #ededed;
}

.mod_service li {
    float: left;
    width: 240px;
    height: 79px;
}

.mod_service_icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 35px;
}

.mod_service_zheng {
    background: url(../img/icons.png) no-repeat -253px -3px;
}

.mod_service_kuai {
    background: url(../img/icons.png) no-repeat -254px -53px;
}

.mod_service_bao {
    background: url(../img/icons.png) no-repeat -257px -105px;
}

.mod_service_te {
    background: url(../img/icons.png) no-repeat -254px -53px;
}

.mod_service_bang {
    background: url(../img/icons.png) no-repeat -257px -105px;
}

.mod_service_title {
    float: left;
    margin-left: 5px;
}

.mod_service_title h5 {
    font-weight: 700;
    color: #333333;
    margin: 5px 0;
}

.mod_help {
    height: 187px;
    border-bottom: 1px solid #ededed;
}

.mod_help_item {
    float: left;
    width: 150px;
    padding: 15px 0 0 50px;
}

.mod_help_item dt {
    height: 25px;
    font-size: 16px;
}

.mod_help_item dd {
    height: 22px;
}

.mod_help_app dt {
    font-size: 16px;
    color: #333333;
    padding-left: 15px;
}

.mod_help_app p {
    padding-left: 12px;
}

.mod_help_app img {
    margin: 7px 0;
}

.mod_copyright {
    height: 59px;
    text-align: center;
}

.mod_copyright ul {
    display: inline-block;
    padding: 10px 0 5px 0;
}

.mod_copyright p {
    text-align: center;
}

.mod_copyright li {
    float: left;
}

.mod_copyright li:nth-child(2n) {
    width: 1px;
    height: 10px;
    margin: 5px 10px 0 10px;
    background-color: #999999;
}